.Map .gm-style-iw.gm-style-iw-c{
  height: auto !important;
  max-height: auto !important;
}
.infoWindowContainer {
  text-align: center;
  h3 {
    margin-bottom: 12px;
  }
  .info-item {
    text-align: left;
    margin-bottom: 10px;
  }
}