@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
}
.login {
  width: 100%;
  min-height: 100vh;
  padding: 0 20px;
  background: #e9e9e9;
  display: flex;
}

.login .login-container {
  border-radius: 6px;
  padding: 60px;
  margin: auto;
  width: 100%;
  max-width: 420px;
  max-height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #97d2de;
  box-shadow: 0 50px 70px -20px rgba(0, 0, 0, 0.5);
}

.login .login-container h4 {
  color: gray;
  margin: 14px 0;
  display: block;
  text-align: center;
  line-height: 1;
}

.login .login-container input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 19px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.login .login-container .btn-container {
  width: 100%;
  padding: 24px 0;
}

.login .loginContainer .btnContainer p {
  margin: 14px 0 0 0;
  text-align: right;
  color: #fff;
}

.login .login-container .btn-container p span {
  color: yellow;
  font-weight: 500;
  letter-spacing: 0.5px;
  margin-left: 5px;
  cursor: pointer;
  transition: all 400ms ease-in-out;
}

.login .login-container .btn-container p span:hover {
  color:darkcyan;
}

.login .login-container .error-alert {
  color:darkcyan;
  font-size: 16px;
}

.login-btn {
  border: none;
  border-radius: 6px;
  outline: none;
  width: 100%;
  padding: 15px 0;
  color: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  background: #3bbbb2;
  cursor: pointer;
  margin-bottom: 14px;

}
.p-login{
  color: grey;
  font-size: 16px;
  letter-spacing: 1px;
}

/*bootstrap*/
.d-flex{
  display: flex;
}
.justify-content-between{
  justify-content: space-between;
}
/*
  Tracker 
*/ 

.blue-main-container{
  background: #DFF1F7; 
  font-family: 'Inter';
  position: relative;
  width: 100%;
  height: 100vh;
  
}

.heading-1{
  font-weight: 800;
  font-size: 36pt;
}

.heading-2{
  font-weight: 600;
  font-size: 24pt;
}

.paragraph{
  font-weight: 500;
  font-size: 15pt;
}

.card-text{
  width: 80%;
  background: white;
  position: absolute;
  font-family: 'Inter', sans-serif;
  border-radius:  25px  25px 0px 0px ;
  height: 200px;
  bottom: 0px;
  margin-bottom: 0px;
  margin: auto;
  margin-bottom: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  height: 95%;

}


.chatbot-header{
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  padding: 20px;
  border-radius:  25px  25px 0px 0px  !important;
  background: #98DBD8;
  background-image: linear-gradient(255deg, rgba(255,255,255,0.50) 3%, #AAE1DF 78%);
  box-shadow: 0 2px 4px 0 #ACE2E0;
  width: 100%;
  height: 60px;
  color: white;

  
}

.message-div{
  font-family: 'Inter', sans-serif;

  display: block;
  margin: 20px;
  margin-top: 40px;
  display: flex;
  justify-content: start;
  
}

.message-div > .profile-image{

  display: block;
  display: block;
  width: 10%;
  
  flex-shrink: 9;
  margin: auto;
}

.image-profile{
  width: 50px;
  margin: auto;
  
  display: block;
}


.text-div{
  
  width: 0px;
  left: 0px;
  flex-grow: 1;
  display: flex;
  justify-content: flex-start;
  align-content: middle;
  
}

.text-container{
  align-self: flex-start;
  display: block;
  background: rgba(216, 216, 216, .24);
  border-radius: 15px;
  color: black;
  width: fit-content;
  max-width: 50%;
  justify-self: end;
  padding: 15px;

}

.text-container::after{
  padding-right: 200px;
  width: 100px;
}


.name-div{
  font-weight: 200;
  font-size: 14px;
  position: absolute;
  margin-top: -40px;
  
  left: 0px;
}


.form-text-field{
  width: 80%;
  margin: auto;
}

.form-text-field{
  bottom: 30px;
  position: absolute;
  left: 0px;
  right: 0px;
}

/*
  Sidebar 
*/

.side-bar{
  background: #082E2D;
  display: block;
  width: 70px;
  height: 100vh;
  z-index: 200;
  position: absolute;
}

.icon-container-menu{
  margin: auto;
  display: flex !important;
  align-items: center;
  align-items: middle;
  
}

.icon-container-menu.last{
  bottom: 0px;
  position: absolute;
  left: 0px;
  right: 0px;
}

.icon-side-menu{
  background: white;
  display: block; 
  left: 0px; 
  margin: auto !important;
  justify-self: center;
  
}

.icons-bar{
  margin-top: 200px;
  background: red;
  position: absolute;
}

.MuiFab-primary{
  background: red;
}

.icon-side-menu{
  opacity: .3;
  color: white !important ;
}

.icon-side-menu:hover{
  opacity: 1;
  transform: .5s ease-in;
  color: white !important ;
}

.line-icon-decorator{
  display: block;
  position: absolute;
  background: white;
  opacity: .3;
  width: 5px;
  height: 40px;
  margin: auto;
}

.icon-side-menu:hover + .line-icon-decorator{
 background: red !important;
 opacity: 1;
 width: 10px;
 height: 10px;

}



.logo{
  margin: auto;
  width: 40px;
  height: 40px;
  
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}



/*
  Layout
*/ 

.layout-children{
  
  flex-grow: 20;
  width: 10px;
  background: red;
  display: block;
}

.layout-bar{
  flex-grow: 1;
  display: block;
}

.send-btn{
  background-color: #589f9d !important;
  color:#fff !important;
}
/*
Media queries
*/

@media only screen and (max-width: 760px) {
  .card-text{
    width: 80%;
    position: absolute;
    margin: auto;
    margin-bottom: 0px;
    left: 50px;
    right: 0px;
    bottom: 15px;
    height: 95%;
  
  }
  .text-container{
    padding: 5px;
    margin-top: 3px;
    margin-right: 3px;
  }
  .profile-image{
    width: 15%;
  }
  .image-profile{
    width: 40px;
  }
  .MuiButton-text {
    padding: 3px 0px !important;
}

}